doctype html
html
	head
		script(src="/js/riot.js")
	body
		h1 Gerald's ToDo App
		h2 Simple To-Do List
		script(type="riot/tag" src="/tags/todo.tag")
		script(src="/js/client.js")
		todo
		script.
			riot.mount('todo', todoAPI);
